# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/

# Environment
.env

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Python cache
.pytest_cache/
.mypy_cache/

# Storage
storage/uploads/*
storage/processed/*
storage/exports/*

# Keep folders
!storage/uploads/.gitkeep
!storage/processed/.gitkeep
!storage/exports/.gitkeep